__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
mlflow.db
mlruns/
monitoring/reports/
monitoring/retrain_flag.txt
monitoring/latest_drift_results.json
monitoring/reference_data.parquet
monitoring/current_data.parquet
data/
*.pt
*.pth
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.DS_Store
